@{
  ViewData["Title"] = "Lista de Contato";
}

@using fantastHello.Models
@using Microsoft.AspNetCore.Http;
@model List<contact>

<link rel="stylesheet" href="/assets/fonts/style.css">
<link rel="stylesheet" href="/CSS/home.CSS">
<link rel="stylesheet" href="/CSS/accessories.CSS">
<link rel="stylesheet" href="/CSS/stories.CSS">
<link rel="stylesheet" href="/CSS/contact.CSS">
<link rel="stylesheet" href="/CSS/listing.CSS">

@* logo ------------- *@
<nav class="logo-cart">
  @* logo ------------- *@
  <div>
    <a href="/Home/home">
      <img class="logo" src="/CSS/img/logo.jpeg" />
    </a>
  </div>

  @* carrinho ------- *@
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark " href="~/itemOrder/List">
          <img class="icon-cart" src="~/CSS/img/cart.png" />
        </a>
      </li>
    </ul>
  </div>
</nav>

@* menu ---------- *@
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">

          <li class="nav-item">
            <a class="nav-link text-dark" href="/Home/home/#about"><strong> Sobre
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="stories"><strong> Historias
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/itemOrder/Insert/#books3"><strong> Livros
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="itemOrder" asp-action="Insert"><strong> Acessorios
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="articles"><strong> Artigos
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="gallery"><strong> Galeria de foto
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="galleryVideo"><strong> Galeria de video
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/Home/home/#contactNow"><strong>Contato</strong></a>
          </li>

          @if (Context.Session.GetInt32("IdUsuario") == null)
          {
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Inserir"><strong>
                  Cadastrar usuario</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Login"><strong>
                  Login</strong></a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="List"><strong> Usuarios
                  cadastrados</strong></a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Logout"><strong>
                  Logout</strong></a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<table border="2">

  <tr>
    <th>Id do Contato:</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Whattsapp</th>
    <th>Duvida</th>
  </tr>

  @foreach (contact cc in Model)
  {
    <tr>
      <td>@cc.idContact</td>
      <td>@cc.name</td>
      <td>@cc.email</td>
      <td>@cc.whattsapp</td>
      <td>@cc.doubt</td>
      <td><a class="btn btn-outline-danger" href="/contact/ToUpdate?idContact=@cc.idContact">Editar</a></td>
      <td><a class="btn btn-outline-danger" href="/contact/Delete?idContact=@cc.idContact">Remover</a></td>
    </tr>

  }

</table>
<br>


<img class="imgGhost" src="~/CSS/img/backgroundInput.jpg" alt="">

<!--footer-->
<footer class="section">
  <div class="cont grid">
    <div class="brand">
      <a class="nav-link logo logo-alt" href="#">Fantasthello.com</a>
      <p class="subtitle">©2022 Fantasthello.</p>
      <p class="subtitle">Todos os direitos reservados.</p>
    </div>

    <div class="social grid">
      <a class="nav-link" href="https://instagram.com" target="_blank">
        <i class="icon-instagram"></i>
      </a>
      <a class="nav-link" href="https://facebook.com" target="_blank">
        <i class="icon-facebook"></i></a>
      <a class="nav-link" href="https://youtube.com" target="_blank"><i class="icon-youtube"></i></a>
    </div>
  </div>
</footer>

<img class="backgroundFinal" src="~/CSS/img/backgroundFinal.jpeg" />